In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
#print(os.listdir("../input"))

In [5]:
data = pd.read_csv('data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [6]:
len(data)

1890

# Предобработка датасета

In [88]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [7]:
data[data.budget == data.budget.max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010

In [89]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [11]:
data[data.runtime == data.runtime.max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
1158,tt0279111,0.469518,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,23,5.8,2003

In [90]:
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [13]:
data[data.runtime == data.runtime.min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
769,tt1449283,1.425344,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,174,6.8,2011

In [91]:
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [15]:
round(data.runtime.mean(),1)

109.7

In [92]:
answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [17]:
data.runtime.median(axis=0)

106.5

In [93]:
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [20]:
income = (data.revenue - data.budget)
data.iloc[income.idxmax()]['original_title']
#data.original_title.iloc[income.idxmax()]

'Avatar'

In [94]:
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [22]:
income = (data.revenue - data.budget)
data.loc[income.idxmin()]['original_title']
#data.original_title.iloc[income.idxmin()]
#data.loc[(data.revenue - data.budget).idxmin()]['original_title']

"The Warrior's Way"

In [23]:
data['profit'] = data['revenue'] - data['budget']
data[['profit', 'original_title', 'imdb_id']].sort_values('profit', ascending=False)[-10:]

         profit                original_title    imdb_id
1719  -71626175                         Awake  tt0211933
1401  -74010360            A Sound of Thunder  tt0318081
1873  -75171919                     Supernova  tt0134983
637   -80445998                     Australia  tt0455824
1465  -84540684                  Flushed Away  tt0424095
959   -92896027  The Adventures of Pluto Nash  tt0180052
810  -111007242               Mars Needs Moms  tt1305591
1617 -119180039                     The Alamo  tt0318974
1246 -165710090               The Lone Ranger  tt1210819
491  -413912431             The Warrior's Way  tt1032751

In [95]:
answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [25]:
(data.revenue > data.budget).value_counts()

True     1478
False     412
dtype: int64

In [96]:
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [27]:
data['profit'] = data.revenue - data.budget
profit = data[['profit', 'original_title', 'imdb_id', 'release_year']].sort_values('profit', ascending=False)[10:]
profit[profit['release_year']== 2008]

,profit,original_title,imdb_id,release_year
600,816921825,The Dark Knight,tt0468569,2008
604,601636033,Indiana Jones and the Kingdom of the Crystal S...,tt0367882,2008
608,557841637,Mamma Mia!,tt0795421,2008
607,501744560,Kung Fu Panda,tt0441773,2008
622,474029371,Hancock,tt0448157,2008
...,...,...,...,...
669,-26054234,Speed Racer,tt0811080,2008
706,-30206504,The Express,tt0469903,2008
683,-37130952,City of Ember,tt0970411,2008
680,-42966317,Outlander,tt0462465,2008
637,-80445998,Australia,tt0455824,2008

In [29]:
data[data.revenue == (data[data.release_year == 2008].revenue.max())]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8432,8.1,2008,816921825

In [30]:
data.loc[data[data.release_year == 2008].revenue.idxmax()]

imdb_id                                                         tt0468569
popularity                                                        8.46667
budget                                                          185000000
revenue                                                        1001921825
original_title                                            The Dark Knight
cast                    Christian Bale|Michael Caine|Heath Ledger|Aaro...
director                                                Christopher Nolan
tagline                                                   Why So Serious?
overview                Batman raises the stakes in his war on crime. ...
runtime                                                               152
genres                                        Drama|Action|Crime|Thriller
production_companies    DC Comics|Legendary Pictures|Warner Bros.|Syncopy
release_date                                                    7/16/2008
vote_count                                                           8432
vote_average                                                          8.1
release_year                                                         2008
profit                                                          816921825
Name: 600, dtype: object

In [97]:
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [31]:
data['profit'] = data.apply(lambda x: x.revenue - x.budget, axis=1)
data[( data.release_year>2011) & (data.release_year<2015) & (data.profit.min())].sort_values('profit')

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
1246,tt1210819,1.214510,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,1607,6.0,2013,-165710090
1215,tt0790736,1.689869,130000000,61648500,R.I.P.D.,Jeff Bridges|Ryan Reynolds|Kevin Bacon|Stephan...,Robert Schwentke,To protect and serve the living,A recently slain cop joins a team of undead po...,96,Fantasy|Action|Comedy|Crime,Universal Pictures|Original Film|Dark Horse En...,7/18/2013,876,5.3,2013,-68351500
1008,tt1374992,1.690572,60000000,8106475,Upside Down,Kirsten Dunst|Jim Sturgess|Timothy Spall|James...,Juan Diego Solanas,Two worlds. One future.,In an alternate universe where twinned worlds ...,104,Romance|Science Fiction|Drama|Fantasy,Onyx Films|Studio 37|Jouror Productions|France...,9/27/2012,695,6.1,2012,-51893525
1303,tt0884726,0.354271,70000000,18662027,Legends of Oz: Dorothy's Return,Lea Michele|Dan Aykroyd|Patrick Stewart|Hugh D...,Dan St. Pierre,There's trouble in OZ...,"Dorothy wakes up in post-tornado Kansas, only ...",88,Animation|Music|Family,Prana Animation Studios|Summertime Entertainment,6/13/2013,36,6.1,2013,-51337973
1236,tt1308729,1.319947,55000000,9489829,Bullet to the Head,Sylvester Stallone|Sung Kang|Sarah Shahi|Adewa...,Walter Hill,Revenge Never Gets Old.,"After watching their respective partners die, ...",92,Action|Crime|Thriller,Dark Castle Entertainment|After Dark Films|IM ...,1/31/2013,347,5.2,2013,-45510171
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1190,tt1690953,3.928789,76000000,970761885,Despicable Me 2,Steve Carell|Kristen Wiig|Benjamin Bratt|Miran...,Pierre Coffin|Chris Renaud,Back 2 Work,Gru is recruited by the Anti-Villain League to...,98,Animation|Comedy|Family,Universal Pictures|Illumination Entertainment,6/25/2013,3436,7.0,2013,894761885
975,tt1074638,5.603587,200000000,1108561013,Skyfall,Daniel Craig|Judi Dench|Javier Bardem|Ralph Fi...,Sam Mendes,Think on your sins.,When Bond's latest assignment goes gravely wro...,143,Action|Adventure|Thriller,Columbia Pictures,10/25/2012,6137,6.8,2012,908561013
1181,tt1300854,4.946136,200000000,1215439994,Iron Man 3,Robert Downey Jr.|Gwyneth Paltrow|Guy Pearce|D...,Shane Black,Unleash the power behind the armor.,When Tony Stark's world is torn apart by a for...,130,Action|Adventure|Science Fiction,Marvel Studios,4/18/2013,6882,6.9,2013,1015439994
1178,tt2294629,6.112766,150000000,1274219009,Frozen,Kristen Bell|Idina Menzel|Jonathan Groff|Josh ...,Chris Buck|Jennifer Lee,Only the act of true love will thaw a frozen h...,Young princess Anna of Arendelle dreams about ...,102,Animation|Adventure|Family,Walt Disney Pictures|Walt Disney Animation Stu...,11/27/2013,3369,7.5,2013,1124219009
971,tt0848228,7.637767,220000000,1519557910,The Avengers,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,8903,7.3,2012,1299557910

In [98]:
answer_ls.append(5)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [33]:
genre_counter = Counter()
for genre in data.genres.str.split('|'):
    genre_counter += Counter(genre)
genre_counter.most_common()

[('Drama', 782),
 ('Comedy', 683),
 ('Thriller', 597),
 ('Action', 583),
 ('Adventure', 416),
 ('Crime', 315),
 ('Romance', 308),
 ('Family', 260),
 ('Science Fiction', 248),
 ('Fantasy', 223),
 ('Horror', 176),
 ('Mystery', 168),
 ('Animation', 139),
 ('Music', 64),
 ('History', 62),
 ('War', 58),
 ('Western', 20),
 ('Documentary', 8),
 ('Foreign', 2)]

In [34]:
pd.DataFrame(data.genres.str.split('|').tolist()).stack().value_counts()

Drama              782
Comedy             683
Thriller           597
Action             583
Adventure          416
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            223
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             20
Documentary          8
Foreign              2
dtype: int64

In [99]:
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [36]:
s = data[data.revenue < data.budget]
genre_count = Counter()
for x in s.genres.str.split('|'):
    genre_count += Counter(x)
genre_count.most_common()

[('Drama', 222),
 ('Thriller', 151),
 ('Action', 139),
 ('Comedy', 132),
 ('Crime', 84),
 ('Adventure', 79),
 ('Romance', 66),
 ('Science Fiction', 53),
 ('Mystery', 49),
 ('Fantasy', 35),
 ('Family', 34),
 ('Horror', 26),
 ('Animation', 19),
 ('War', 17),
 ('Music', 17),
 ('History', 16),
 ('Western', 8),
 ('Foreign', 2),
 ('Documentary', 1)]

In [37]:
s = data[data.revenue < data.budget]
pd.DataFrame(s.genres.str.split('|').tolist()).stack().value_counts()

Drama              222
Thriller           151
Action             139
Comedy             132
Crime               84
Adventure           79
Romance             66
Science Fiction     53
Mystery             49
Fantasy             35
Family              34
Horror              26
Animation           19
Music               17
War                 17
History             16
Western              8
Foreign              2
Documentary          1
dtype: int64

In [100]:
answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [39]:
data.groupby(['director'])['imdb_id'].nunique().sort_values(ascending=False)[:3]

director
Steven Soderbergh    13
Ridley Scott         12
Clint Eastwood       12
Name: imdb_id, dtype: int64

In [101]:
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [40]:
data[data.revenue > data.budget].groupby('director')['imdb_id'].nunique().sort_values(ascending=False)[:10]

director
Ridley Scott         12
Steven Spielberg     10
Steven Soderbergh    10
Clint Eastwood       10
Shawn Levy            9
Antoine Fuqua         8
Tim Burton            8
Christopher Nolan     8
Michael Bay           8
Peter Jackson         8
Name: imdb_id, dtype: int64

In [45]:
pd.DataFrame(data[data.revenue > data.budget].director.tolist()).stack().value_counts()[:10]

Ridley Scott         12
Steven Spielberg     10
Steven Soderbergh    10
Clint Eastwood       10
Shawn Levy            9
Peter Jackson         8
Tim Burton            8
Antoine Fuqua         8
Christopher Nolan     8
Michael Bay           8
dtype: int64

In [102]:
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [46]:
data.profit = data.apply(lambda x: x.revenue - x.budget, axis=1)
data.groupby('director')['profit'].sum().sort_values(ascending=False)

director
Peter Jackson            5202593685
David Yates              3379295625
Christopher Nolan        3162548502
J.J. Abrams              2839169916
Michael Bay              2760938960
                            ...
David Bowers|Sam Fell     -84540684
Peter Hyams               -86956545
Ron Underwood             -92896027
James L. Brooks           -96289726
Sngmoo Lee               -413912431
Name: profit, Length: 958, dtype: int64

In [47]:
df_dir = pd.DataFrame(data.director.str.split('|').tolist()).stack().reset_index() 
df_dir.columns =  ['row1', 'row2', 'director']
df_dir['profit'] = df_dir.row1.apply(lambda x: data.iloc[x]['profit'])
df_dir.groupby(['director'])['profit'].sum().sort_values(ascending=False)

director
Peter Jackson        5202593685
David Yates          3379295625
Christopher Nolan    3162548502
J.J. Abrams          2839169916
Michael Bay          2760938960
                        ...
Peter Hyams           -86956545
Ron Underwood         -92896027
James L. Brooks       -96289726
Walter Hill          -128283462
Sngmoo Lee           -413912431
Name: profit, Length: 998, dtype: int64

In [ ]:
c = Counter()
for index, row in data.iterrows():
    names = row.director.split('|')
    for name in names:
        c[name] += row.profit   
display(c.most_common(5))

In [103]:

answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [48]:
df_cast = pd.DataFrame(data.cast.str.split('|').tolist()).stack().reset_index()
df_cast.columns = ['row1', 'row2', 'cast']
df_cast['profit'] = df_cast.row1.apply(lambda x: data.iloc[x]['profit'])
df_cast.groupby('cast').profit.sum().sort_values(ascending=False)[:10]

cast
Emma Watson           6666245597
Daniel Radcliffe      6514990281
Rupert Grint          6408638290
Ian McKellen          6087375777
Robert Downey Jr.     5316030161
Orlando Bloom         5148578162
Johnny Depp           4776417000
Ralph Fiennes         4739260140
Michelle Rodriguez    4608031235
Anne Hathaway         4490351538
Name: profit, dtype: int64

In [49]:
c = Counter()
for index, row in data.iterrows():
    for actor in row.cast.split('|'):
        c[actor]+= row.profit
c.most_common()

[('Emma Watson', 6666245597),
 ('Daniel Radcliffe', 6514990281),
 ('Rupert Grint', 6408638290),
 ('Ian McKellen', 6087375777),
 ('Robert Downey Jr.', 5316030161),
 ('Orlando Bloom', 5148578162),
 ('Johnny Depp', 4776417000),
 ('Ralph Fiennes', 4739260140),
 ('Michelle Rodriguez', 4608031235),
 ('Anne Hathaway', 4490351538),
 ('Scarlett Johansson', 4203244858),
 ('Ben Stiller', 4201954571),
 ('Cameron Diaz', 4146490085),
 ('Samuel L. Jackson', 4036974161),
 ('Vin Diesel', 3923216862),
 ('Dwayne Johnson', 3899824603),
 ('Tom Cruise', 3872196893),
 ('Chris Evans', 3793939244),
 ('Gary Oldman', 3708823251),
 ('Zoe Saldana', 3572392568),
 ('Michael Caine', 3481833508),
 ('Shia LaBeouf', 3393362177),
 ('Chris Hemsworth', 3347424695),
 ('Angelina Jolie', 3345409359),
 ('Kristen Stewart', 3324049211),
 ('Helena Bonham Carter', 3289902810),
 ('Brad Pitt', 3287408957),
 ('Paul Walker', 3137283755),
 ('Sam Worthington', 3135365646),
 ('Daniel Craig', 3133778323),
 ('Will Smith', 3107921771),
 ('Tom Hanks', 3078112705),
 ('Josh Hutcherson', 3047241377),
 ('Mark Ruffalo', 3045858157),
 ('Jennifer Lawrence', 3031588432),
 ('Leonardo DiCaprio', 3029444829),
 ('Taylor Lautner', 3023620411),
 ('Robert Pattinson', 3008872499),
 ('Woody Harrelson', 2988729199),
 ('Cate Blanchett', 2918861980),
 ('James Franco', 2901670993),
 ('Sigourney Weaver', 2895067138),
 ('Antonio Banderas', 2891623730),
 ('Sandra Bullock', 2824692940),
 ('Matt Damon', 2803535866),
 ('Eddie Murphy', 2797586538),
 ('Bradley Cooper', 2792958718),
 ('Elijah Wood', 2787731978),
 ('Christian Bale', 2741738014),
 ('Liv Tyler', 2739870270),
 ('Julie Andrews', 2718858871),
 ('Viggo Mortensen', 2699098722),
 ('Harrison Ford', 2696134112),
 ('Steve Carell', 2668010978),
 ('Mike Myers', 2634259979),
 ('Jack Black', 2620004430),
 ('Liam Neeson', 2536858504),
 ('Keira Knightley', 2534854685),
 ('Jason Statham', 2495798922),
 ('George Clooney', 2477120111),
 ('Natalie Portman', 2468418555),
 ('Stephen Lang', 2460224804),
 ('Elizabeth Banks', 2440975500),
 ('Liam Hemsworth', 2429092160),
 ('Adam Sandler', 2387021605),
 ('Seann William Scott', 2376422215),
 ('Owen Wilson', 2375025339),
 ('Mark Wahlberg', 2324586236),
 ('Michael Keaton', 2316042286),
 ('Josh Duhamel', 2296594437),
 ('Richard Armitage', 2291125550),
 ('Bill Nighy', 2272709441),
 ('Chris Pratt', 2264031555),
 ('Kristen Wiig', 2247774460),
 ('Martin Freeman', 2245427868),
 ('Tobey Maguire', 2231331790),
 ('Denis Leary', 2224658555),
 ('Peter Facinelli', 2222107909),
 ('Judi Dench', 2203621895),
 ('John Leguizamo', 2193502213),
 ('Tom Hardy', 2129641063),
 ('Steve Buscemi', 2097184654),
 ('Ewan McGregor', 2090801439),
 ('Russell Crowe', 2065975814),
 ('Andy Serkis', 2057975393),
 ('Gwyneth Paltrow', 2051072268),
 ('Hugh Jackman', 2043789637),
 ('Emma Stone', 2023612916),
 ('Robert De Niro', 1989540634),
 ('Kirsten Dunst', 1972542719),
 ('Jonah Hill', 1955372029),
 ('Tyrese Gibson', 1954038544),
 ('Guy Pearce', 1953730753),
 ('Frances McDormand', 1941014837),
 ('Simon Pegg', 1927222589),
 ('John Goodman', 1918861833),
 ('Geoffrey Rush', 1918496931),
 ('Bryce Dallas Howard', 1917236873),
 ('Sacha Baron Cohen', 1916134152),
 ('Michael Gambon', 1906469638),
 ('Willem Dafoe', 1886667580),
 ('Ashley Greene', 1885118157),
 ('Adam Driver', 1884109030),
 ('Mark Hamill', 1868178225),
 ('Carrie Fisher', 1868178225),
 ('Daisy Ridley', 1868178225),
 ('Irrfan Khan', 1863613082),
 ('Jamie Foxx', 1860077704),
 ('Amy Adams', 1819139040),
 ('Gerard Butler', 1814331972),
 ('Jackie Chan', 1805945694),
 ('Jeremy Renner', 1805307161),
 ('Meryl Streep', 1792276260),
 ('Colin Firth', 1792021986),
 ('Dustin Hoffman', 1769635731),
 ('Megan Fox', 1749357755),
 ('Robin Williams', 1739802878),
 ('Chris Rock', 1725577596),
 ('Kevin James', 1724987946),
 ('Maggie Smith', 1714286499),
 ('Don Cheadle', 1698836838),
 ('Ray Romano', 1687442698),
 ('Justin Long', 1668080734),
 ('Zach Galifianakis', 1643064842),
 ('Russell Brand', 1641894717),
 ('Hank Azaria', 1628132253),
 ('Jason Lee', 1604563794),
 ('Nicolas Cage', 1598427930),
 ('Jim Carrey', 1579517274),
 ('Jordana Brewster', 1568762707),
 ('Seth Rogen', 1532111572),
 ('John Malkovich', 1528571988),
 ('Graham McTavish', 1516455355),
 ('David Schwimmer', 1513502299),
 ('Keanu Reeves', 1498961637),
 ('Amanda Seyfried', 1497822181),
 ('Allison Janney', 1497124685),
 ('Ken Watanabe', 1495008278),
 ('Ben Kingsley', 1487684460),
 ('Morgan Freeman', 1478916574),
 ('Jason Bateman', 1477790582),
 ("Vincent D'Onofrio", 1465576509),
 ('Ken Jeong', 1452196639),
 ('Ryan Reynolds', 1445757622),
 ('Jennifer Aniston', 1443185988),
 ('Ed Harris', 1433643828),
 ('Christoph Waltz', 1415633955),
 ('Ken Stott', 1413519788),
 ('Jack Davenport', 1412846074),
 ('Mila Kunis', 1411974109),
 ('Will Arnett', 1411551691),
 ('Julie Walters', 1404008567),
 ('Bruce Willis', 1402368647),
 ('Anthony Hopkins', 1398887962),
 ('Michael Fassbender', 1396919073),
 ('Jason Segel', 1381034598),
 ('Carla Gugino', 1378790398),
 ('Ben Affleck', 1371296619),
 ('Jake Gyllenhaal', 1369845596),
 ('Ving Rhames', 1367591200),
 ('Nick Robinson', 1363528810),
 ('Jessica Chastain', 1355397478),
 ('Aaron Eckhart', 1352459484),
 ('Vince Vaughn', 1351186518),
 ('Jude Law', 1347852227),
 ('Julia Roberts', 1346783045),
 ('Josh Gad', 1340350280),
 ('Hayden Christensen', 1336469783),
 ('Charlize Theron', 1329803370),
 ('Alan Rickman', 1324666007),
 ('Leslie Mann', 1314569622),
 ('Bill Hader', 1314097465),
 ('Thandie Newton', 1306199066),
 ('Monica Bellucci', 1286310870),
 ('Denzel Washington', 1278642199),
 ('Rachel McAdams', 1275304837),
 ('Josh Brolin', 1271330619),
 ('Kristen Bell', 1266445306),
 ('Ian McDiarmid', 1266398328),
 ('Jay Baruchel', 1265942894),
 ('Famke Janssen', 1258361241),
 ('Javier Bardem', 1257445372),
 ('Paul Bettany', 1251524842),
 ('Andrew Garfield', 1250524708),
 ('David Cross', 1241555575),
 ('Alfred Molina', 1229444150),
 ('Tommy Lee Jones', 1216769285),
 ('Jon Hamm', 1213064725),
 ('Paul Rudd', 1210975726),
 ('Channing Tatum', 1209494233),
 ('Hugo Weaving', 1201151589),
 ('Stellan SkarsgÃ¥rd', 1199116345),
 ('Ed Helms', 1195018840),
 ('Patrick Stewart', 1193273688),
 ('Christopher Plummer', 1190137280),
 ('James McAvoy', 1178987928),
 ('Amanda Peet', 1177312381),
 ('PenÃ©lope Cruz', 1168450274),
 ('Steve Coogan', 1166801573),
 ('Will Ferrell', 1165510652),
 ('RenÃ©e Zellweger', 1164990827),
 ('Queen Latifah', 1154625474),
 ('Rosamund Pike', 1134755001),
 ('Mark Strong', 1131611562),
 ('Richard Harris', 1131328909),
 ('Idina Menzel', 1124219009),
 ('Jonathan Groff', 1124219009),
 ('Santino Fontana', 1124219009),
 ('Thomas Haden Church', 1122456954),
 ('Jeff Bridges', 1120780625),
 ('Joaquin Phoenix', 1120274502),
 ('Andy GarcÃ\xada', 1117749317),
 ('Heath Ledger', 1111508240),
 ('Rose Byrne', 1107178907),
 ('Billy Crystal', 1101686608),
 ('Justin Bartha', 1097159972),
 ('Neil Patrick Harris', 1093496678),
 ('Chiwetel Ejiofor', 1093097183),
 ('Jesse Eisenberg', 1092766286),
 ('Anna Faris', 1081636934),
 ('Mel Gibson', 1079231358),
 ('Carrie-Anne Moss', 1079169881),
 ('Michael PeÃ±a', 1074664116),
 ('Rachel Weisz', 1072009252),
 ('Brian Cox', 1068874359),
 ('Jada Pinkett Smith', 1066567624),
 ('Jason Clarke', 1065051837),
 ('Martin Sheen', 1055310537),
 ('Emily Blunt', 1053071561),
 ('Brad Garrett', 1046311112),
 ('Billy Burke', 1039021060),
 ('Sean Bean', 1035597311),
 ('Jon Voight', 1033061074),
 ('Jane Lynch', 1031200074),
 ('John Cusack', 1031032432),
 ('Sharlto Copley', 1029873565),
 ('Naomie Harris', 1027867754),
 ('Skandar Keynes', 1024144587),
 ('Georgie Henley', 1024144587),
 ('Ian McShane', 1023678483),
 ('Benjamin Bratt', 1015810166),
 ('Elle Fanning', 1013929879),
 ('Ioan Gruffudd', 1010384046),
 ('John Cleese', 1009569409),
 ('Nicole Kidman', 1000969666),
 ('Matthew McConaughey', 999064410),
 ('Lucy Liu', 993283774),
 ('Emma Thompson', 987066274),
 ('Helen Mirren', 982061005),
 ('Ned Beatty', 973896514),
 ('Sylvester Stallone', 970268324),
 ('Joan Cusack', 966017065),
 ('Eddie Marsan', 954973067),
 ('Amy Poehler', 954595982),
 ('Pierce Brosnan', 952867243),
 ('Eva Green', 950504033),
 ('Salma Hayek', 945394032),
 ('Jennifer Connelly', 942585561),
 ('Kate Beckinsale', 938034028),
 ('Luke Evans', 929770819),
 ('Tim Allen', 928139970),
 ('Kerry Washington', 923826504),
 ('Jaden Smith', 922308630),
 ('Richard Jenkins', 921423264),
 ('Giovanni Ribisi', 919483785),
 ('Stanley Tucci', 916891529),
 ('Laurence Fishburne', 914806127),
 ('Anil Kapoor', 912623924),
 ('Arnold Schwarzenegger', 912241043),
 ('Kenneth Branagh', 912054905),
 ('Chris Pine', 902838990),
 ('Halle Berry', 901250736),
 ('Brendan Gleeson', 900356579),
 ('Miranda Cosgrove', 894761885),
 ('Ellen Page', 888883058),
 ('Timothy Spall', 884640240),
 ('Craig T. Nelson', 883328576),
 ('Chris Noth', 878232620),
 ('Joseph Gordon-Levitt', 877435832),
 ('Phyllis Smith', 874906101),
 ('Mia Wasikowska', 870458340),
 ('Colin Farrell', 865467136),
 ('Naomi Watts', 864926361),
 ('Catherine Zeta-Jones', 862954118),
 ('Reese Witherspoon', 862425360),
 ('Robbie Coltrane', 860502299),
 ('Drew Barrymore', 856424409),
 ('Forest Whitaker', 853551533),
 ('Paula Patton', 852390780),
 ('Maggie Grace', 851148760),
 ('Michael Douglas', 846264947),
 ('Crispin Glover', 843895173),
 ('Shailene Woodley', 839380546),
 ('Christopher Walken', 834792475),
 ('Adrien Brody', 833276217),
 ('Kristin Davis', 826406154),
 ('John Lithgow', 825191875),
 ('Albert Brooks', 823808214),
 ('Catherine Keener', 820589644),
 ('Billy Connolly', 812051007),
 ('Anna Kendrick', 800607398),
 ('Zachary Levi', 798194003),
 ('Vincent Cassel', 795027991),
 ('David Thewlis', 794194602),
 ('Sebastian Stan', 791289166),
 ('Milla Jovovich', 786655780),
 ('Jim Caviezel', 783829193),
 ('Chris Wedge', 782244782),
 ('Judy Greer', 777154799),
 ('Abigail Breslin', 772064316),
 ('Ellen DeGeneres', 770625978),
 ('Alexander Gould', 770625978),
 ('Dougray Scott', 770598375),
 ('Scott Glenn', 765359323),
 ('William Moseley', 763458370),
 ('Anna Popplewell', 763458370),
 ('Jon Favreau', 762627789),
 ('Ashton Kutcher', 761846333),
 ('Donald Sutherland', 761734071),
 ('Justin Timberlake', 760455865),
 ('Patrick Dempsey', 757202471),
 ('Julia Stiles', 755983128),
 ('Jae Head', 754237680),
 ('Freida Pinto', 752770729),
 ('Eric Bana', 747050749),
 ('LÃ©a Seydoux', 746344149),
 ('Dennis Quaid', 745536243),
 ('Bobby Cannavale', 742563614),
 ('Vera Farmiga', 739811245),
 ('Alice Braga', 738196047),
 ('Tom Hiddleston', 735144708),
 ('Eva Mendes', 731647728),
 ('Diane Lane', 730552719),
 ('Idris Elba', 729513850),
 ('Ron Perlman', 727076793),
 ('Jennifer Lopez', 722319779),
 ('Dakota Fanning', 722124237),
 ('Marisa Tomei', 720492109),
 ('Jessica Alba', 718956099),
 ('Jason Biggs', 718047825),
 ('Logan Lerman', 716360706),
 ('Dev Patel', 711318891),
 ('Jayma Mays', 709799821),
 ('Richard Roxburgh', 708901267),
 ('Maria Bello', 707992013),
 ('Joel Edgerton', 704417211),
 ('Richard Kind', 703138943),
 ('Larry the Cable Guy', 701835545),
 ('Toby Kebbell', 701402999),
 ('Ray Winstone', 701300816),
 ('Lewis Black', 699946257),
 ('Mary Steenburgen', 699297588),
 ('Keri Russell', 696330761),
 ('Topher Grace', 693867855),
 ('Jodie Foster', 692981079),
 ('Julianne Moore', 691873851),
 ('Teri Polo', 691336278),
 ('Helen Hunt', 688540250),
 ('Michelle Williams', 686220214),
 ('Cliff Robertson', 682708551),
 ('Rainn Wilson', 680060118),
 ('Elizabeth Reaser', 678281159),
 ('Tom Felton', 676586689),
 ('Selena Gomez', 676210369),
 ('Delroy Lindo', 675059230),
 ('Thomas Kretschmann', 673004361),
 ('Jeff Daniels', 670281878),
 ('Bryan Cranston', 668057463),
 ('Steve Martin', 662007236),
 ('Sienna Miller', 660670762),
 ('Terrence Howard', 654463199),
 ('Zac Efron', 649963240),
 ('Sarah Jessica Parker', 649315022),
 ('John C. Reilly', 648400516),
 ('Barbra Streisand', 647293524),
 ('Seth MacFarlane', 647231921),
 ('Katherine Heigl', 647162538),
 ('Emily Mortimer', 646992715),
 ('Dane DeHaan', 646176007),
 ('Kevin McNally', 645340751),
 ('David Wenham', 645001947),
 ('Jack Nicholson', 642197880),
 ('Michael Shannon', 641150621),
 ('Diane Kruger', 634477126),
 ('Olga Kurylenko', 633615983),
 ('Audrey Tautou', 633239851),
 ('Oliver Platt', 633203913),
 ('Rowan Atkinson', 632048651),
 ('Luis GuzmÃ¡n', 630895549),
 ('Brendan Fraser', 629714029),
 ('Ellie Kemper', 629450790),
 ('Cedric the Entertainer', 628899385),
 ('Michelle Monaghan', 626259328),
 ('Anton Yelchin', 626210342),
 ('James Cromwell', 623756015),
 ('Zooey Deschanel', 623426479),
 ('Johnny Knoxville', 620515040),
 ('Kate Winslet', 619303024),
 ('Ed Asner', 619115486),
 ('Thomas Ian Nicholas', 618992382),
 ('Henry Cavill', 616758227),
 ('Dave Franco', 613786961),
 ('Karl Urban', 613344026),
 ('Isla Fisher', 612590868),
 ('Orto Ignatiussen', 611392705),
 ('Phaldut Sharma', 611392705),
 ('Sienna Guillory', 611264335),
 ('Jennifer Garner', 608226957),
 ('Philip Seymour Hoffman', 608117250),
 ('Juno Temple', 606545351),
 ('Alexandra Daddario', 603808737),
 ('Dave Bautista', 603312399),
 ('Karen Allen', 601636033),
 ('Paul Giamatti', 599499410),
 ('Kelly Macdonald', 598073029),
 ('Rhys Ifans', 594437873),
 ('Rachael Taylor', 594336566),
 ('Corey Stoll', 593427556),
 ('Robert Redford', 593392802),
 ('Alec Baldwin', 591993156),
 ('John Hannah', 591141913),
 ('Edward Norton', 589530364),
 ('Amy Sedaris', 589420142),
 ('Helmut Bakaitis', 588599701),
 ('Mickey Rourke', 586892036),
 ('Rosemary Harris', 583766341),
 ('Patton Oswalt', 582795167),
 ('Casey Affleck', 582153994),
 ('Maia Morgenstern', 581899420),
 ('Christo Jivkov', 581899420),
 ('Francesco De Vito', 581899420),
 ('Rebel Wilson', 579280902),
 ('Isobelle Molloy', 578410378),
 ('Evangeline Lilly', 577870671),
 ('Dakota Johnson', 576427145),
 ('Billy Crudup', 573934412),
 ('James Marsden', 571809610),
 ('Holly Hunter', 571476924),
 ('Andy Samberg', 571426877),
 ('Kathy Bates', 569019388),
 ('Bruce Greenwood', 568430075),
 ('Leslie Bibb', 568035770),
 ('Alan Cumming', 566683503),
 ('Terence Stamp', 565203293),
 ("Dylan O'Brien", 564576787),
 ('Kaya Scodelario', 564576787),
 ('Hugh Grant', 564316793),
 ('Kyle Gallner', 564171460),
 ('Domhnall Gleeson', 563794227),
 ('Tim Robbins', 561525781),
 ('Bonnie Hunt', 561377092),
 ('Clive Owen', 560641754),
 ('Zachary Quinto', 560393348),
 ('Chris Tucker', 560086749),
 ('Tobin Bell', 559671044),
 ('Liev Schreiber', 558666747),
 ('Martin Lawrence', 557993182),
 ('Jamie Bell', 557647300),
 ('Jessica Biel', 557197075),
 ('Mandy Moore', 556520122),
 ('Jordan Nagai', 556342744),
 ('Bob Peterson', 556342744),
 ('Kim Cattrall', 553822776),
 ('Colm Feore', 552759977),
 ('ChloÃ« Grace Moretz', 548674908),
 ('Melissa McCarthy', 547668075),
 ('Hailee Steinfeld', 543785173),
 ('Joel Murray', 543559607),
 ('Cherry Jones', 540519203),
 ('Dominique Louis', 539442092),
 ('Cynthia Nixon', 538600478),
 ('Lena Headey', 537458756),
 ('AnnaSophia Robb', 536552784),
 ('Alan Arkin', 534499217),
 ('Jean Reno', 534052399),
 ('Mads Mikkelsen', 532613817),
 ('Rebecca Ferguson', 532330139),
 ('Mathieu Amalric', 530691045),
 ('Kyle Chandler', 530568816),
 ('Bill Paxton', 529840710),
 ('Jamie Dornan', 529651467),
 ('Eloise Mumford', 529651467),
 ('Miles Teller', 529621773),
 ('Richard Gere', 528795720),
 ('Jeffrey Wright', 528642754),
 ('Tilda Swinton', 528344134),
 ('Jennifer Ehle', 527336389),
 ('Goran Visnjic', 526565466),
 ('Sam Elliott', 526347280),
 ('Emmy Rossum', 525596106),
 ('Juliette Binoche', 525517827),
 ('Benedict Cumberbatch', 525471273),
 ('Dominic West', 524830589),
 ('Lisa Ann Walter', 524701295),
 ('Harvey Keitel', 524225881),
 ('David Spade', 522975263),
 ('Oded Fehr', 522125942),
 ('Alfre Woodard', 521936035),
 ('Christopher Eccleston', 520685031),
 ('Maya Rudolph', 518434765),
 ('Victor Rasuk', 518063424),
 ('Michael Chiklis', 514038655),
 ('Anthony Mackie', 514005153),
 ('Ian Holm', 513280933),
 ('Regina Hall', 512855582),
 ('Joel McHale', 512793141),
 ('Freddie Highmore', 509788079),
 ('Jamie Chung', 505687664),
 ('Suraj Sharma', 502324192),
 ('Timothy Olyphant', 500434857),
 ('Gemma Arterton', 500287903),
 ('David Andrews', 499692268),
 ('Alison Brie', 499581896),
 ('Jai Courtney', 497432334),
 ('Miranda Otto', 497367502),
 ('Ice Cube', 494678205),
 ('Michael Clarke Duncan', 494368059),
 ('Winona Ryder', 493716892),
 ('Ayush Tandon', 489016565),
 ('Gautam Belur', 489016565),
 ('Adil Hussain', 489016565),
 ('Jet Li', 487323184),
 ('Scott Adsit', 487105443),
 ('Ryan Potter', 487105443),
 ('Daniel Henney', 487105443),
 ('T.J. Miller', 487105443),
 ('Djimon Hounsou', 486979697),
 ('Olivia Wilde', 486327016),
 ('Christine Baranski', 483918135),
 ('Sam Neill', 483823850),
 ('Cole Konis', 483507423),
 ('Ben Reed', 483507423),
 ('Taraji P. Henson', 483329975),
 ('Rick Yune', 481717388),
 ('Brian Dennehy', 480565360),
 ('Ali Larter', 479064187),
 ('Daryl Sabara', 478903383),
 ('Ansel Elgort', 478389466),
 ('Charlie Tahan', 477840078),
 ('Kris Kristofferson', 477657760),
 ('Aaron Taylor-Johnson', 475223287),
 ('Lou Romano', 473722818),
 ('Peter Sohn', 473722818),
 ('Rip Torn', 470015453),
 ('Emily Watson', 466713286),
 ('Jake Cherry', 464480841),
 ('Dick Van Dyke', 464480841),
 ('Carlos Alazraqui', 464466481),
 ('Lily James', 463958096),
 ('Heather Graham', 463828734),
 ('Clint Eastwood', 463805523),
 ('Diego Luna', 458424322),
 ('Hayden Panettiere', 457187783),
 ('Justin Chatwin', 456549492),
 ('Zach Braff', 456301213),
 ('Tina Fey', 454873580),
 ('James Caan', 454771605),
 ('Nikolaj Coster-Waldau', 454447536),
 ('J.K. Simmons', 453964231),
 ('Julian McMahon', 453774314),
 ('Anthony Anderson', 452314844),
 ('William Fichtner', 452167599),
 ('Dan Castellaneta', 452068851),
 ('Julie Kavner', 452068851),
 ('Nancy Cartwright', 452068851),
 ('Yeardley Smith', 452068851),
 ('Theo James', 451386096),
 ('Josh Hartnett', 448026707),
 ('Mary Gibbs', 447816256),
 ('James Coburn', 447816256),
 ('Richard Madden', 447351353),
 ('Holliday Grainger', 447351353),
 ('Jeff Garlin', 445745727),
 ('Bernie Mac', 444693491),
 ('Jim Broadbent', 443352706),
 ('Paul Newman', 442984627),
 ('Sarah Michelle Gellar', 442870153),
 ('Roselyn SÃ¡nchez', 441065487),
 ('Ryan Gosling', 440211949),
 ('Brittany Snow', 436873169),
 ('Noomi Rapace', 436109472),
 ('Salli Richardson-Whitfield', 435349010),
 ('Willow Smith', 435349010),
 ('Chris Klein', 435282191),
 ('Eddie Kaye Thomas', 434002798),
 ('John Turturro', 432768918),
 ('Hilary Swank', 432696905),
 ('Patrick Wilson', 430331003),
 ('Katie Holmes', 430070539),
 ('Adam Scott', 429541084),
 ('Lainie Kazan', 428606561),
 ('Michael Ealy', 428540162),
 ('Amber Valletta', 426295632),
 ('Cloris Leachman', 425220295),
 ('Adam Brody', 423513599),
 ('Michael Stuhlbarg', 423457110),
 ('Choi Min-sik', 423360063),
 ('Amr Waked', 423360063),
 ('Julian Rhind-Tutt', 423360063),
 ('CiarÃ¡n Hinds', 423311648),
 ('Matthew Gray Gubler', 421362739),
 ('Dash Mihok', 419272402),
 ('Jay O. Sanders', 419272402),
 ('TÃ©a Leoni', 417593371),
 ('Pamela Anderson', 416245961),
 ('Ray Liotta', 415719306),
 ('Dane Cook', 413151166),
 ('Cliff Curtis', 412941831),
 ('Alex Pettyfer', 412826358),
 ('Craig Berry', 409160692),
 ('David Burrows', 409160692),
 ('Bill Murray', 407752684),
 ('Nicholas Hoult', 407587394),
 ('Dolph Lundgren', 407043817),
 ('Arnold Vosloo', 405891190),
 ('Costas Mandylor', 405794229),
 ('Betsy Russell', 405794229),
 ('Marton Csokas', 405228619),
 ('Philip Baker Hall', 404572835),
 ('Catherine Bell', 404572835),
 ('Imelda Staunton', 404212575),
 ('Paul Dano', 403873413),
 ('Nick Nolte', 403445301),
 ('John Travolta', 403405634),
 ('William Hurt', 403331749),
 ('Rob Riggle', 402801764),
 ('Radha Mitchell', 401932263),
 ('Sarah Silverman', 400313407),
 ('Taylor Swift', 399385595),
 ('Will Poulter', 397950503),
 ('Paul Anderson', 397950503),
 ('Franka Potente', 397816737),
 ('Tom Wilkinson', 397238043),
 ('Margot Robbie', 395863657),
 ('Will.i.am', 394635760),
 ('Skylar Astin', 391922292),
 ('Alyson Hannigan', 389987213),

In [104]:
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [50]:
data_2012 = data[data.release_year == 2012]
df_cast = pd.DataFrame(data_2012.cast.str.split('|').tolist()).stack().reset_index()
df_cast.columns = ['row1', 'row2', 'cast',]
df_cast['profit'] = df_cast.row1.apply(lambda x: data_2012.iloc[x]['profit'])
df_cast.groupby('cast').profit.sum().sort_values(ascending=True)[:10]

cast
Kirsten Dunst    -68109207
Heidi Hawkins    -51893525
James Kidnie     -51893525
Timothy Spall    -51893525
Malin Ã…kerman   -43733509
Danny Huston     -32893443
Nicolas Cage     -32893443
Josh Lucas       -32893443
Sami Gayle       -32893443
Jim Sturgess     -23410657
Name: profit, dtype: int64

In [51]:
data_2012 = data[data.release_year == 2012]
c = Counter() 
for index, row in data_2012.iterrows():
    for actor in row.cast.split('|'):
        c[actor] += row.profit
c.most_common()[-10:]

[('Jim Sturgess', -23410657),
 ('Nicolas Cage', -32893443),
 ('Josh Lucas', -32893443),
 ('Sami Gayle', -32893443),
 ('Danny Huston', -32893443),
 ('Malin Ã…kerman', -43733509),
 ('Timothy Spall', -51893525),
 ('James Kidnie', -51893525),
 ('Heidi Hawkins', -51893525),
 ('Kirsten Dunst', -68109207)]

In [105]:
answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [52]:
data_2 = data[data.budget > data.budget.mean()]
data_3 = pd.DataFrame(data_2.cast.str.split('|').tolist()).stack().reset_index()
data_3.columns = ['row1','row2','cast']
data_3.cast.value_counts()[:10]

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Tom Cruise           15
Eddie Murphy         15
Samuel L. Jackson    15
Jamie Foxx           14
Mark Wahlberg        14
Russell Crowe        14
Hugh Jackman         14
Name: cast, dtype: int64

In [53]:
actor_counter = Counter()
for actor in data_2.cast.str.split('|'):
    actor_counter += Counter(actor)
actor_counter.most_common()[:10]

[('Matt Damon', 18),
 ('Adam Sandler', 17),
 ('Angelina Jolie', 16),
 ('Tom Cruise', 15),
 ('Samuel L. Jackson', 15),
 ('Eddie Murphy', 15),
 ('Mark Wahlberg', 14),
 ('Hugh Jackman', 14),
 ('Ben Stiller', 14),
 ('Jamie Foxx', 14)]

In [106]:
answer_ls.append(3)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [54]:
Nicolas_Cage = data[data.cast.str.contains("Nicolas Cage", na=False)]
pd.DataFrame(Nicolas_Cage.genres.str.split('|').tolist()).stack().value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Family              3
Mystery             3
History             2
War                 1
Horror              1
Romance             1
dtype: int64

In [107]:
answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [55]:
pd.DataFrame(data.production_companies.str.split('|').tolist()).stack().value_counts()[:10]

Universal Pictures                        173
Warner Bros.                              168
Paramount Pictures                        122
Columbia Pictures                         117
Twentieth Century Fox Film Corporation    109
Relativity Media                           99
New Line Cinema                            88
Walt Disney Pictures                       82
Village Roadshow Pictures                  63
DreamWorks SKG                             62
dtype: int64

In [108]:
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [ ]:
data_2015 = data[data.release_year == 2015]
pd.DataFrame(data_2015.production_companies.str.split('|').tolist()).stack().value_counts()[:10]

In [109]:
answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [56]:
comedy_only = data[data.genres.str.contains("Comedy", na=False)]
comedy_by_companies = pd.DataFrame(comedy_only.production_companies.str.split('|').tolist()).stack().reset_index()
comedy_by_companies.columns = ['row1', 'row2', 'production_company']
comedy_by_companies['profit'] = comedy_by_companies.row1.apply(lambda x: comedy_only.iloc[x]['profit'])
comedy_by_companies.groupby(['production_company']).profit.sum().sort_values(ascending=False)

production_company
Universal Pictures                        8961545581
Walt Disney Pictures                      7669710326
Twentieth Century Fox Film Corporation    5686960294
Columbia Pictures                         5646343696
DreamWorks Animation                      4789049764
                                             ...
Warner Bros. Pictures                      -54738687
Shangri-La Entertainment                   -55170786
Dark Horse Entertainment                   -68351500
Road Rebel                                 -71331093
Mel's Cite du Cinema                       -92896027
Name: profit, Length: 702, dtype: int64

In [57]:
comedy_only = data[data.genres.str.contains("Comedy", na=False)]
companies_profit = Counter()
for index, row in comedy_only.iterrows():
    for company in row.production_companies.split('|'):
        companies_profit[company]+= row.profit
companies_profit.most_common(5)

[('Universal Pictures', 8961545581),
 ('Walt Disney Pictures', 7669710326),
 ('Twentieth Century Fox Film Corporation', 5686960294),
 ('Columbia Pictures', 5646343696),
 ('DreamWorks Animation', 4789049764)]

In [110]:
answer_ls.append(2)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [58]:
data_2012 = data[data.release_year == 2012]
companies = pd.DataFrame(data_2012.production_companies.str.split('|').tolist()).stack().reset_index()
companies.columns = ['row1','row2', 'production_company']
companies['profit'] = companies.row1.apply(lambda x: data_2012.iloc[x]['profit'])
companies.groupby(['production_company']).profit.sum().sort_values(ascending=False)[:10]

production_company
Columbia Pictures            2501406608
Universal Pictures           1981011579
Marvel Studios               1299557910
Warner Bros.                 1258020056
Relativity Media             1032593938
New Line Cinema              1028114941
Metro-Goldwyn-Mayer (MGM)    1010869947
Legendary Pictures            982041287
Summit Entertainment          961582873
Dune Entertainment            892186707
Name: profit, dtype: int64

In [59]:
data_2012 = data[data.release_year == 2012]
c = Counter()
for index, row in data_2012.iterrows():
    for company in row.production_companies.split('|'):
        c[company]+=row.profit
c.most_common(10)

[('Columbia Pictures', 2501406608),
 ('Universal Pictures', 1981011579),
 ('Marvel Studios', 1299557910),
 ('Warner Bros.', 1258020056),
 ('Relativity Media', 1032593938),
 ('New Line Cinema', 1028114941),
 ('Metro-Goldwyn-Mayer (MGM)', 1010869947),
 ('Legendary Pictures', 982041287),
 ('Summit Entertainment', 961582873),
 ('Dune Entertainment', 892186707)]

In [111]:
answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [60]:
data = pd.read_csv('data.csv')
data['profit'] = data['revenue'] - data['budget']
paramount = data[data.production_companies.str.contains('Paramount Pictures', na=False)]
paramount[['profit', 'original_title', 'imdb_id']].sort_values('profit', ascending=False)[-10:]

        profit        original_title    imdb_id
960  -14280643               Abandon  tt0267248
436  -15809131           The Fighter  tt0964517
1060 -17955723      A Thousand Words  tt0763831
668  -20180936         The Love Guru  tt0811138
588  -20750706  Domestic Disturbance  tt0249478
1632 -24805000               Twisted  tt0315297
1624 -46604061                 Alfie  tt0375173
1723 -51788987                  Next  tt0435705
1124 -60519261              Timeline  tt0300556
926  -64831034  K-19: The Widowmaker  tt0267626

In [62]:
c = Counter()
for i in range(0, len(data)):
    if 'Paramount Pictures' in data['production_companies'].iloc[i]:
        c[data['original_title'].iloc[i]]+=data.iloc[i]['profit']
c.most_common()[-10:]

[('Abandon', -14280643),
 ('The Fighter', -15809131),
 ('A Thousand Words', -17955723),
 ('The Love Guru', -20180936),
 ('Domestic Disturbance', -20750706),
 ('Twisted', -24805000),
 ('Alfie', -46604061),
 ('Next', -51788987),
 ('Timeline', -60519261),
 ('K-19: The Widowmaker', -64831034)]

In [112]:
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [63]:
data = pd.read_csv('data.csv')
data['profit'] = data.revenue - data.budget
grouped_df = data.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)
grouped_df

release_year
2015    18668572378
2014    16397812953
2012    16077001687
2013    15243179791
2011    14730241341
2009    13423744372
2010    13117292530
2008    11663881990
2007    11565911801
2004     9634180720
2003     9228823312
2002     9002361487
2005     8981925558
2006     8691077320
2001     7950614865
2000     6101399805
Name: profit, dtype: int64

In [113]:
answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [64]:
#warner_df = data.loc[data['production_companies'].apply(lambda x: 'Warner Bros.' in x)]
data_wb = data[data.production_companies.str.contains("Warner Bros", na=False)]
data_wb.groupby('release_year').profit.sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

In [114]:
answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [69]:
import datetime
data = pd.read_csv('data.csv')
data["release_date"]= pd.to_datetime(data["release_date"]) 
data['release_month'] = data['release_date'].dt.strftime('%m')

In [70]:
data.groupby(['month']).imdb_id.nunique().sort_values(ascending=False)

KeyError: 'month'

In [68]:
data = pd.read_csv('data.csv',parse_dates=['release_date'])
data['release_month'] = data.release_date.dt.month

In [71]:
data.groupby(['release_month']).imdb_id.nunique().sort_values(ascending=False)

release_month
09    227
12    191
10    186
08    161
03    156
04    149
06    147
11    146
07    142
05    140
02    135
01    110
Name: imdb_id, dtype: int64

In [115]:
answer_ls.append(4)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [72]:
import datetime
data = pd.read_csv('data.csv')
data["release_date"]= pd.to_datetime(data["release_date"]) 
data['release_month'] = data['release_date'].dt.strftime('%B')

In [73]:
data.query('release_month in ["June","July","August"]').count()

imdb_id                 450
popularity              450
budget                  450
revenue                 450
original_title          450
cast                    450
director                450
tagline                 450
overview                450
runtime                 450
genres                  450
production_companies    450
release_date            450
vote_count              450
vote_average            450
release_year            450
release_month           450
dtype: int64

In [116]:
answer_ls.append(2)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [74]:
import datetime
data = pd.read_csv('data.csv')
data["release_date"]= pd.to_datetime(data["release_date"]) 
data['release_month'] = data['release_date'].dt.strftime('%B')

In [75]:
winter_release = data.query('release_month in ["December","January","February"]')
pd.DataFrame(winter_release.director.str.split('|').tolist()).stack().value_counts()[:10]

Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Adam Shankman        4
Martin Scorsese      4
Shawn Levy           4
Nancy Meyers         4
Patrick Lussier      3
Edward Zwick         3
Jason Friedberg      3
dtype: int64

In [117]:
answer_ls.append(5)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [76]:
import datetime
data = pd.read_csv('data.csv')
data["release_date"]= pd.to_datetime(data["release_date"]) 
data['release_month'] = data['release_date'].dt.strftime('%B')
data['profit'] = data.revenue - data.budget

In [77]:
profit_by_month = data.pivot_table(values = 'profit', index = 'release_year', columns = 'release_month', aggfunc = ["sum"]).idxmax(axis=1)
profit_by_month.value_counts().idxmax()

('sum', 'June')

In [118]:
answer_ls.append(2)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [79]:
data = pd.read_csv('data.csv')

companies = pd.DataFrame(data.production_companies.str.split('|').tolist()).stack().reset_index()
companies.columns = ['row1','row2', 'production_company']
companies['imdb_id'] = companies.row1.apply(lambda x: data.iloc[x]['imdb_id'])
companies

data['letter_count'] = data.original_title.apply(len)
companies.merge(data, on='imdb_id').groupby('production_company').agg('mean').sort_values('letter_count', ascending=False)

,row1,row2,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,letter_count
production_company,,,,,,,,,,
Four By Two Productions,1449.0,1.0,1.930735,18000000.0,261572744.0,82.0,979.0,6.4,2006.0,83.0
"Jim Henson Company, The",219.0,2.0,0.876514,28000000.0,100654149.0,81.0,380.0,6.2,2014.0,59.0
Dos Corazones,1067.0,0.0,0.628612,12000000.0,9622846.0,145.0,20.0,6.8,2012.0,47.0
Polsky Films,330.0,4.0,0.643829,25000000.0,10589102.0,122.0,157.0,5.8,2009.0,46.0
Museum Canada Productions,265.0,4.0,1.752134,150000000.0,413106170.0,105.0,1108.0,5.9,2009.0,46.0
...,...,...,...,...,...,...,...,...,...,...
Everest Entertainment,1277.0,1.0,0.864697,10000000.0,21587700.0,130.0,739.0,6.9,2013.0,3.0
Berlanti Productions,64.0,2.0,2.234573,150000000.0,128388320.0,111.0,586.0,5.9,2015.0,3.0
Global Entertainment Group,715.0,2.0,0.282905,25100000.0,29506464.0,131.0,71.0,5.6,2008.0,2.0
XM2 Productions,1173.0,4.0,0.175002,110000000.0,214948780.0,133.0,2222.0,6.7,2003.0,2.0
Ixtlan Productions,715.0,0.0,0.282905,25100000.0,29506464.0,131.0,71.0,5.6,2008.0,2.0

In [119]:
answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [80]:
data['title_count_words'] = data.original_title.apply(lambda x: len(x.split()))
companies.merge(data, on='imdb_id').groupby('production_company').agg('mean').sort_values('title_count_words', ascending=False)

,row1,row2,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,letter_count,title_count_words
production_company,,,,,,,,,,,
Four By Two Productions,1449.0,1.0,1.930735,18000000.0,261572744.0,82.0,979.0,6.4,2006.0,83.0,12.0
"Jim Henson Company, The",219.0,2.0,0.876514,28000000.0,100654149.0,81.0,380.0,6.2,2014.0,59.0,10.0
Dos Corazones,1067.0,0.0,0.628612,12000000.0,9622846.0,145.0,20.0,6.8,2012.0,47.0,9.0
Polsky Films,330.0,4.0,0.643829,25000000.0,10589102.0,122.0,157.0,5.8,2009.0,46.0,9.0
The Saul Zaentz Company,680.5,2.0,8.335347,86000000.0,898827882.0,178.5,5596.5,7.8,2001.5,43.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...
Jolie Pas,191.0,2.0,1.769987,65000000.0,163442937.0,137.0,981.0,7.2,2014.0,8.0,1.0
Frantic Films,1610.0,3.0,1.129322,100000000.0,82102379.0,104.0,415.0,4.3,2004.0,8.0,1.0
Outpost Studios,289.0,2.0,1.145724,15000000.0,8459458.0,96.0,297.0,5.9,2009.0,5.0,1.0
Cinelou Films,165.0,2.0,2.692691,7000000.0,2360281.0,102.0,255.0,6.1,2014.0,4.0,1.0
Danjaq,10.0,1.0,6.200282,245000000.0,880674609.0,148.0,3254.0,6.2,2015.0,7.0,1.0

In [120]:
answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [81]:
words = set()
for i in data['original_title'].to_list():
    for j in i.lower().split():
        words.add(j)
print(len(words))

2461

In [82]:
total_title_list = data.original_title.apply(lambda x: x+' ').sum().lower()
unique_words = set(total_title_list.split())
unique_words
len(unique_words)

2461

In [121]:
answer_ls.append(3)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [83]:
data = pd.read_csv('data.csv')
data[data.vote_average > data.quantile(0.99, numeric_only=True)['vote_average']]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
9,tt2096673,6.326804,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,3935,8.0,2015
34,tt3170832,3.557846,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,1520,8.0,2015
118,tt0816692,24.949134,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,6498,8.0,2014
119,tt2015381,14.311205,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,5612,7.9,2014
125,tt2084970,8.110711,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,3478,8.0,2014
128,tt2267998,6.438727,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,3720,7.9,2014
138,tt2278388,4.930820,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,2802,7.9,2014
370,tt1375666,9.363643,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,9767,7.9,2010
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8432,8.1,2008
873,tt0253474,2.364204,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,938,7.9,2002
1082,tt0167260,7.122455,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,5636,7.9,2003
1184,tt0993846,4.877927,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,4027,7.9,2013
1192,tt2024544,3.625529,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,2241,7.9,2013
1801,tt0209144,3.095625,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,2144,7.9,2000

In [122]:
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [84]:
import itertools
import collections

actors=collections.Counter()
for index, row in data.iterrows():
    s = row.cast.split('|')
    actors.update([ x for x in itertools.combinations(s, 2)])
actors.most_common(10)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6),
 (('Adam Sandler', 'Kevin James'), 5),
 (('Hugh Jackman', 'Ian McKellen'), 5),
 (('Kristen Stewart', 'Robert Pattinson'), 5),
 (('Kristen Stewart', 'Taylor Lautner'), 5),
 (('Robert Pattinson', 'Taylor Lautner'), 5)]

In [123]:
answer_ls.append(5)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [124]:
answer_ls.append(4)

# Submission

In [125]:
len(answer_ls)

36

In [126]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4